@model ControlDeEpidemias.Models.consultorio_medico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignación de Consultorio</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.idconsultorio, "Consultorio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idconsultorio", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idconsultorio, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.idmedico, "Medico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idmedico", (SelectList) ViewData["idmedico"], htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idmedico, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.idmedico, "Medico", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idmedico", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idmedico, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Medico.Empleado.idempleado, "Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Cedula",null, htmlAttributes : new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idmedico, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.estado,"Estado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.estado)
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Asignar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-primary">
        @Html.ActionLink("Voler a la lista", "Index","consultorio_medico",new { @style = "color:#FFFFFF"})
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
