@model IEnumerable<ControlDeEpidemias.Models.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Empleados</h2>

<p>
    <button class="btn btn-primary">
        @Html.ActionLink("Ingresar Empleado", "Create", null, new { @style = "color:#ffffff;" })
    </button>
</p>
<table class="table">
    <tr>
        <th>
            <label class="control-label col-md-2">
                Nombre
            </label>
        </th>
        <th>
            <label class="control-label col-md-2">
                Apellido
            </label>
        </th>
        <th>
            <label class="control-label col-md-2">
                Cédula
            </label>
        </th>
        <th>
            <label class="control-label col-md-2">
                Ubicación
            </label>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.estado)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicación)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>*@
        <td>
            <button class="btn btn-primary">
                @Html.ActionLink("Modificar", "Edit", new { id = item.idempleado}, new { @style = "Color:#FFFFFF;"})
            </button>
            <button class="btn btn-primary">
                @Html.ActionLink("Ver Detalles", "Details", new { id = item.idempleado }, new { @style = "Color:#FFFFFF;"})
            </button>
            <button class="btn btn-primary">
                @Html.ActionLink("Dar Baja", "Delete", new { id = item.idempleado }, new { @style = "Color:#FFFFFF;"})
            </button>
        </td>
    </tr>
}

</table>
