@model IEnumerable<ControlDeEpidemias.Models.Examen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRealizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.idmedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDeExamen.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRealizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laboratorio.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.idmedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenDeExamen.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idexamen }) |
            @Html.ActionLink("Details", "Details", new { id=item.idexamen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idexamen })
        </td>
    </tr>
}

</table>
