@model IEnumerable<ControlDeEpidemias.Models.sector_consultorio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultorio.nombreconsultorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sector.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultorio.nombreconsultorio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sector.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsector_consultorio }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsector_consultorio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsector_consultorio })
        </td>
    </tr>
}

</table>
